{% include '_prefixes.jinja' %}

SELECT (AVG(?value) as ?result) WHERE {
  {{ device }} saref:makesMeasurement ?measurement .
  ?measurement saref:relatesToProperty ?prop .
  ?prop a {{ property_type }} .
  ?measurement saref:hasValue ?value .
  ?measurement saref:hasTimestamp ?timestamp .
  FILTER(?timestamp >= xsd:dateTime("{{ min_time }}") && ?timestamp <= xsd:dateTime("{{ max_time }}"))
}