{% include '_prefixes.jinja' %}

SELECT (COUNT(?measurement) as ?result) WHERE {
  ?room s4bldg:isSpaceOf {{ floor }} .
  ?room s4bldg:contains ?device .
  ?device saref:makesMeasurement ?measurement .
  ?measurement saref:relatesToProperty ?prop .
  ?prop a ic:Contact .
  ?measurement saref:hasValue "1"^^xsd:int .
  ?measurement saref:hasTimestamp ?timestamp .
  FILTER(?timestamp >= xsd:dateTime("{{ min_time }}") && ?timestamp <= xsd:dateTime("{{ max_time }}"))
}