{% include '_prefixes.jinja' %}

SELECT (COUNT(DISTINCT ?device) as ?result) WHERE {
  ?room s4bldg:isSpaceOf {{ floor }} .
  ?room s4bldg:contains ?device .
  ?device ic:hasDeviceType ?device_type .
}