{% include '_prefixes.jinja' %}

SELECT ?value WHERE {
  {{ device }} saref:makesMeasurement ?measurement .
  ?measurement saref:relatesToProperty ?prop .
  ?prop a {{ property_type }} .
  ?measurement saref:hasValue ?value .
  ?measurement saref:hasTimestamp ?timestamp .
} ORDER BY DESC(?timestamp) LIMIT 1